---
import fs from "fs";
import path from "path";
// importando a file com o tailwind aqui...
import "../../styles/global.css";

// funcao que define os caminhos estáticos da rota dinamica => [page]
// oooou seja: gera /paginatemplate2/page-1, /paginatemplate2/page-2, e por assim vai
export async function getStaticPaths() {
    const pagesDir = path.join(process.cwd(), "content", "paginatemplate2"); // caminho da pasta onde os JSONs estao
    const files = fs
        .readdirSync(pagesDir)
        .filter((file) => file.endsWith(".json")); // pegando so os arquivos .json
    return files.map((file) => {
        const page = path.basename(file, ".json"); // remove a extensao .json, virando apenas "page-1", e etc
        return { params: { page } }; // define a url como /paginatemplate2/[page]
    });
}

// le o JSON da pagina requisitada
// recupera o nome da pagina atual (ex: page-1) da rota
const page = Astro.params.page;

// caminho completo ate o JSON correspondente (content/paginatemplate2/page-i.json)
const dataPath = path.join(
    process.cwd(),
    "content",
    "paginatemplate2",
    `${page}.json`,
);

let data;
try {
    // le o conteudo do JSON e transforma em objeto javascript
    // parse => "Converts a JavaScript Object Notation (JSON) string into an object"
    data = JSON.parse(fs.readFileSync(dataPath, "utf-8"));
} catch {
    // caso o JSON nao exista ou esteja corrompido, throw erro
    throw new Error(`Arquivo JSON para página "${page}" não encontrado!!`);
}

// pega os campos do objeto JSON pra usar no HTML
const { titulo, topicos, imagem, video, footer, footer2 } = data;
---

<!-- HTML da pagina abaixo --><!-- os itens entre {} sao campos do JSON sendo inseridos no html -->
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <style>
            body {
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            }

            .video-container {
                position: relative;
                margin: 0 auto;
            }

            .video-button {
                background-color: rgba(0, 0, 0, 0.7);
                border-radius: 50%;
                width: 80px;
                height: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
            }

            .video-button::after {
                content: "";
                border-style: solid;
                border-width: 15px 0 15px 25px;
                border-color: transparent transparent transparent white;
                margin-left: 5px;
            }

            .cursor-icon {
                position: absolute;
                bottom: -10px;
                right: -10px;
                width: 40px;
                height: 40px;
            }

            .overlay-gradient {
                background: linear-gradient(
                    135deg,
                    rgba(255, 0, 128, 0.7) 0%,
                    rgba(255, 0, 255, 0.7) 100%
                );
                opacity: 0.8;
            }

            .text-shadow {
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            }

            .titulo {
                line-height: 29.7px;
            }

            .sci-ref {
                font-family: "Montserrat", sans-serif;
                font-weight: 500;
            }
            .footer {
                font-family: "Montserrat", sans-serif;
                position: relative;
            }
            .mobile-only-button-container {
                text-align: center;
                margin: 15px auto;
                max-width: 100%;
                position: absolute;
                top: 0; /* topo do footer */
                left: 50%; /* centro horizontal */
                transform: translate(-50%, -90%);
                z-index: 10; /* para ficar acima do conteúdo do footer */
            }

            .pulsing-button {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background-color: #f00;
                color: white;
                font-size: 23px;
                font-weight: medium;
                padding: 10px 15px;
                border-radius: 20px;
                text-decoration: none;
                position: relative;
                box-shadow: 0 0 0 4px rgba(255, 0, 0, 0.3);
                animation: pulse 1.5s infinite;
                border: 3px solid #ff0;
            }

            .checkmark {
                margin-right: 10px;
                font-size: 23px;
                font-weight: 900;
            }

            @keyframes pulse {
                0% {
                    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
                }
                70% {
                    box-shadow: 0 0 0 15px rgba(255, 0, 0, 0);
                }
                100% {
                    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
                }
            }

            /* escondido no desktop */
            @media (min-width: 768px) {
                .mobile-only-button-container {
                    display: none;
                }
            }
        </style>
    </head>

    <body class="font-sans">
        <div class="flex flex-col">
            <!-- barrinha colorida no topo da tela -->
            <div class="bg-[#d9877c] w-full min-h-[5px]"></div>
            <!-- seçao superior com fundo -->
            <div
                class="relative flex items-center justify-center overflow-hidden"
            >
                <!-- background esbranquiçado -->
                <div
                    class="absolute inset-0"
                    style={`
                        background-image:
                        linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0.6) 100%),
                        url('${imagem}');
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                    `}
                >
                </div>

                <!-- container principal -->
                <div class="relative z-10 w-full max-w-5xl mx-auto pt-4 pb-0">
                    <!-- titulo -->
                    <h1
                        class="titulo text-center text-[27px] font-bold text-gray-800 mb-2 mt-1 leading-tight px-[15px]"
                    >
                        {titulo}
                    </h1>

                    <!-- container do video -->
                    <div
                        class="video-container relative w-full overflow-hidden shadow-2xl"
                        style="aspect-ratio: 16/9;"
                    >
                        <div
                            class="absolute inset-0 z-0"
                            style={`background-image: url('${video}'); background-size: cover; background-position: center; opacity: 0.8;`}
                        >
                        </div>

                        <!-- botao de play no centro -->
                        <div
                            class="absolute inset-0 flex items-center justify-center"
                        >
                            <img class="w-1/2" src="/images/click.gif" />
                        </div>

                        <!-- texto "click here to watch now" em cima do video -->
                        <!-- <div
                            class="absolute inset-0 flex flex-col items-center justify-center"
                        >
                            <p
                                class="text-white text-2xl md:text-4xl font-extrabold text-shadow tracking-wide mb-12"
                            >
                                CLICK HERE TO
                            </p>
                            <p
                                class="text-white text-2xl md:text-4xl font-extrabold text-shadow tracking-wide"
                            >
                                WATCH NOW!
                            </p>
                        </div> -->

                        <!-- fundo escuro do video (altura fixa) -->
                        <!-- <div class="absolute inset-0 bg-black opacity-20"></div> -->
                    </div>
                </div>
            </div>

            <!-- secao inferior, abaixo do video -->
            <div class="flex flex-col w-full">
                <div
                    class="sci-ref w-full max-w-4xl mx-auto px-4 mb-10 mt-[30px] text-center text-gray-500 text-lg"
                >
                    Scientific References:
                </div>

                <!-- imagem das referencias cientificas -->
                <!-- TO-DO fix padding -->
                <div class="w-full px-4 lg:px-70 mx-auto mb-10">
                    <img
                        class="w-full"
                        src="/images/refs.webp"
                        alt="Scientific References"
                    />
                </div>
                <!-- TO-DO fazer lista e footer -->
                <!-- lista deve receber sentences do json-->
                <ul
                    class="px-4 md:px-24 grid grid-cols-1 lg:grid-cols-2 gap-x-16 gap-y-0 text-[#a3a39f] text-[11px] mx-4 lg:mx-56 mb-24 md:mb-2"
                >
                    <!-- pra cada string (topico), ele gera uma <li/>  -->
                    {
                        topicos.map((topico: string) => (
                            <li class="flex items-start">
                                <span class="mr-2 text-gray-600">•</span>
                                <span>{topico}</span>
                            </li>
                        ))
                    }
                </ul>
            </div>

            <footer
                class="footer bg-black text-white pb-[30px] pt-[40px] md:pt-[30px] w-full"
            >
                <div class="mobile-only-button-container w-full">
                    <a href="#" class="pulsing-button">
                        <span class="checkmark">✓</span> Watch video now!
                    </a>
                </div>
                <div class="container mx-auto text-center mb-[10px]">
                    <nav
                        class="flex flex-wrap justify-center gap-1 mb-[20px] text-[16px]"
                    >
                        <a href="" class="hover:text-gray-300">Privacy</a>
                        <span class="px-1">|</span>
                        <a href="" class="hover:text-gray-300"
                            >Terms and Conditions</a
                        >
                        <span class="px-1">|</span>
                        <a href="" class="hover:text-gray-300">Disclaimer</a>
                        <span class="px-1">|</span>
                        <a href="" class="hover:text-gray-300">References</a>
                        <span class="px-1">|</span>
                        <a href="" class="hover:text-gray-300">Returns</a>
                        <span class="px-1">|</span>
                        <a href="" class="hover:text-gray-300">Refunds</a>
                        <span class="px-1">|</span>
                        <a href="" class="hover:text-gray-300">Contact</a>
                        <span class="px-1">|</span>
                        <a href="" class="hover:text-gray-300"
                            >Shipping Policy</a
                        >
                    </nav>

                    <!-- copyright -->
                    <p class="text-[15px] mb-[20px]">All rights reserved.</p>

                    <div class="flex flex-col mx-[22%]">
                        <!-- texto 1 -->
                        <p
                            class="text-[16px] md:text-[11px] max-w-4xl mx-auto mb-[20px]"
                        >
                            {footer}
                        </p>

                        <!-- texto 2 -->
                        <p class="text-[16px] md:text-[11px] max-w-4xl mx-auto">
                            {footer2}
                        </p>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>
